/* Добавляем стили для компонента Loader */
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed teal;
    /* Добавляем анимацию на класс при помощи свойства animation */
    /* Задаём название и длительность ключевых кадров */
    /* Функция анимации будет линейной, но при этом бесконечной */
    animation: rotate 1s infinite linear;
}
/* Добавляем ключевые кадры с помощью ключевого слова keyframes */
@keyframes rotate {
    /* Всего будет 2 ключевых кадра: начало и конец анимации */
    from {
        /* Создаём стартовую точку, задавая 0 градусов */
        transform: rotate(0deg) scale(1);
    }
    to {
        /* Создаём конечную точку, задавая 360 градусов */
        transform: rotate(360deg) scale(1.4);
    }
    /* Окружность будет делать полный круг */
}
