/* Создаём стили для модального окна */
.myModal {
    position: fixed;
    /* Растягиваем модальное окно */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* Задаём значение none, чтобы модального окна изначально не было видно */
    display: none;
    /* Затемняем задний фон */
    background: rgba(0,0,0,0.5);
}

/* Создаём стили для контентной части */
.myModalContent {
    /* Задаём отступ */
    padding: 25px;
    /* Задаём задний фон */
    background: white;
    /* Закругляем края */
    border-radius: 16px;
    /* Задаём минимальную ширину модального окна */
    min-width: 250px;

}
/* Создаём стили для изменения значения поля display */
.myModal.active {
    display: flex;
    /* Выравниваем содержимое модального окна */
    justify-content: center;
    align-items: center;
}